<!DOCTYPE html>
<html>
  <head id="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Seguradora TopCar - <%= pagina %></title>
    <link
      rel="stylesheet"
      name="viewport"
      type="text/css"
      href="/<%= css %>.css"
    />
    <link rel="stylesheet" type="text/css" href="/nav.css" />
    <link rel="icon" href="/icon.png " />
  </head>
</html>
