<header class="cabecalho">
    <img class="logo" src="/icon.png">

    <ul class="links">
        <li id="conteudo" class="linkNav"><a class="pointer">Home</a></li>
        <li id="seguro" class="linkNav"><a>Seguro</li>
        <li id="servico" class="linkNav"><a>Serviços</a></li>
        <li id="simularSeguro" class="linkNav"><a>Simular Seguro</a></li>
    </ul>
</header>