<header class="cabecalho">
    <img class="logo" src="/icon.png">

    <ul class="links">
        <li><a class="link" href="/home">Home</a></li>
        <li><a class="link" href="/seguro">Seguro</li>
        <li><a class="link" href="/servicos">Serviços</a></li>
        <li><a class="link" href="/simular-seguro/carro">Simular Seguro</a></li>
        <li><a href="/profile/<%= cadastro._id %>"><img class="profile" src="/profile.png"></a></li>
    </ul>
</header>