<header class="cabecalho">
    <img class="logo" src="/icon.png">

    <ul class="links">
        <li id="conteudo" class="linkNav"><a class="pointer" href="/">Home</a></li>
        <li id="seguro" class="linkNav"><a href="/seguro">Seguro</li>
        <li id="servico" class="linkNav"><a href="/servicos">Serviços</a></li>
        <li id="simularSeguro" class="linkNav"><a href="/simular-seguro">Simular Seguro</a></li>
    </ul>
</header>