* {
  padding: 0px;
  margin: 0px;
}

/*------------ ARTICLE ------------*/

.conteudo {
  background-image: linear-gradient(
    rgba(179, 179, 179, 1),
    rgba(255, 255, 255, 1)
  );
  float: inline-end;
}

/*------- apresentacao -------*/

.apresentacao {
  margin-top: 10px;
  margin-left: 50px;
  font-family: Andale Mono, monospace;
}

.titulo {
  font-size: 3.5em;
  letter-spacing: -2px;
  word-spacing: -5px;
}

.descricao {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/*------------ ARTICLE 2 ------------*/

.conteudo2 {
  position: relative;
  display: flex;
  margin-top: 120px;
  margin-left: 70px;
  font-family: OCR A Std, monospace;
  margin-bottom: 20px;
}

/*------- cards -------*/

.card h1 {
  background-color: black;
  color: white;
  padding: 8px;
  margin-right: 40px;
  border-radius: 10px;
}

.card p {
  background-color: gray;
  color: white;
  padding: 8px;
  margin-right: 40px;
  margin-top: 5px;
  border-radius: 10px;
  width: 211px;
  height: 185px;
  font-size: 1.25em;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.success {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  padding: 5px;
  padding-left: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border-left: 4px solid #198344;
  background-color: #a8f1c6;
  display: flex;
  float: inline-start;
}
