* {
  padding: 0px;
  margin: 0px;
}

.conteudo {
  background-image: linear-gradient(
    rgba(179, 179, 179, 1),
    rgba(255, 255, 255, 1)
  );
  background-size: cover;
  display: flex;
  position: relative;
}

.apresentacao {
  margin-top: 10px;
  margin-left: 50px;
  font-family: Andale Mono, monospace;
}

.titulo {
  font-size: 3.5em;
  letter-spacing: -2px;
  word-spacing: -5px;
}

.descricao {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
}

/*------------ ARTICLE 2 ------------*/

.conteudo2 {
  position: relative;
  display: flex;
  margin-top: 120px;
  margin-left: 70px;
  font-family: OCR A Std, monospace;
  margin-bottom: 20px;
}

/*------- cards -------*/

.card h1 {
  background-color: black;
  color: white;
  padding: 8px;
  margin-right: 40px;
  border-radius: 10px;
}

.card p {
  background-color: gray;
  color: white;
  padding: 8px;
  margin-right: 40px;
  margin-top: 5px;
  border-radius: 10px;
  width: 211px;
  height: 185px;
  font-size: 1.25em;
  letter-spacing: 2px;
  word-spacing: 2px;
}

@media (max-width: 1000px) {
  .titulo {
    font-size: 2.6em;
  }

  .descricao {
    font-size: 1.8em;
  }

  .card {
    width: 70%;
  }

  .card h1 {
    width: 70%;
    font-size: 1.2em;
  }

  .card p {
    width: 70%;
    font-size: 1.2em;
  }
}

@media (max-width: 850px) {
  .titulo {
    font-size: 2.3em;
  }

  .descricao {
    font-size: 1.5em;
  }

  .card {
    width: 60%;
  }

  .card h1 {
    width: 70%;
    font-size: 1em;
  }

  .card p {
    width: 70%;
    font-size: 1em;
  }
}

@media (max-width: 650px) {
  .conteudo {
    text-align: center;
  }

  .apresentacao {
    margin-left: 0px;
  }

  .titulo {
    font-size: 2.5em;
  }

  .descricao {
    font-size: 1.2em;
  }

  .conteudo2 {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 520px) {
  .conteudo {
    text-align: center;
  }

  .apresentacao {
    margin-left: 0px;
  }

  .titulo {
    font-size: 2em;
  }

  .descricao {
    font-size: 1.2em;
  }

  .conteudo2 {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .card {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .conteudo {
    text-align: center;
  }

  .apresentacao {
    margin-left: 0px;
  }

  .titulo {
    font-size: 1.75em;
  }

  .descricao {
    font-size: 0.8em;
  }

  .conteudo2 {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .card h1 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 1em;
  }
}
