* {
  padding: 0px;
  margin: 0px;
}

@keyframes linkHover {
  from {
    color: black;
    background-color: white;
  }

  to {
    color: blue;
    background-color: gray;
  }
}

header {
  border-bottom: 2px solid gray;
}

.cabecalho {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  z-index: 1;
}

.logo {
  width: 80px;
  margin-left: 70px;
}

.links {
  padding-top: 30px;
  font-size: 30px;
  list-style: none;
  margin-right: 200px;
  display: flex;
  float: left;
  padding-bottom: 30px;
}

.links .link {
  text-decoration: none;
  color: black;
  font-family: Arial;
  padding: 5px;
  cursor: pointer;
}

.links li {
  margin-right: 40px;
}

.links .link:hover {
  animation-name: linkHover;
  animation-duration: 0.6s;
  border-radius: 10px;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.profile {
  width: 40px;
}
