.servicos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-image: url("/fundoCards.jpg");
  margin-top: 30px;
  margin-left: 30px;
  color: white;
  width: 300px;
  height: 230px;
  border-radius: 15px;
}

.imgCard {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  height: 60px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tituloCard {
  font-family: Andale Mono, monospace;
  font-size: 1.2em;
  font-weight: bold;
}

.btnCard {
  font-family: Andale Mono, monospace;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 40px;
  display: flex;
  background-color: aliceblue;
  border: 1px solid black;
  text-decoration: none;
}

.btnCard:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.btnCard:visited {
  color: black;
}

@media (max-width: 400px) {
  .card {
    width: 250px;
    height: 200px;
  }

  .imgCard {
    height: 40px;
  }

  .btnCard {
    font-size: 1em;
    margin-top: 30px;
  }
}
