/*------------ BODY ------------*/

.fundoImagem {
  position: relative;
  background-image: url("/fundo.png");
  background-size: cover;
}

.conteudo {
  position: relative;
  display: flex;
}

/*------------ SELETOR ------------*/

.seletor {
  background-color: rgba(102, 102, 102, 0.5);
  display: inline-block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 15px;
  padding: 50px;
}

/*------- H3 -------*/

.titulo {
  font-family: arial;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-size: 2em;
}

/*---- buttons ----*/

.buttons {
  margin-top: 50px;
  display: flex;
  display: grid;
}

button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.botaoET {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.botaoEB {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.botaoDT {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.botaoDB {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.botaoF {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-bottom: -10px;
}

button a {
  color: white;
  text-decoration: none;
}
