<%- include('includes/head') %> <%- include("includes/nav") %>
<div class="fundoImagem">
  <article class="conteudo">
    <div class="seletor">
      <h1 class="titulo">
        <span><img src="/chat.png" class="imgServico" /> </span>Chat Online
      </h1>

      <div class="innerSeletor">
        <p class="descricao">
          Converse com um de nossos moderadores pelo chat online!
        </p>

        <textarea
          placeholder="Descreva o problema..."
          class="txtArea"
        ></textarea>
        <button class="botao"><a>Enviar</a></button>
      </div>
    </div>
  </article>
</div>
