<%- include('includes/head') %> <%- include("includes/nav") %>

<article class="conteudo">
  <%-include('includes/messages') %>
  <div class="apresentacao">
    <h1 class="titulo">
      A MAIS NOVA SEGURADORA DO BRASIL<span style="color: #808080">
        TOP CAR</span
      >
    </h1>
    <p class="descricao">
      Com nossos serviços ágeis e muito<br />
      práticos resolvendo seus problemas mais<br />
      rápido do que aconteceram, tudo que<br />
      precisa é assinar a papelada.
    </p>
  </div>
</article>

<article class="conteudo2">
  <div class="card">
    <h1>
      Entre em contato<br />
      conosco
    </h1>
    <p>
      Entre em contato com nossos atendentes para tirar todas as dúvidas sobre
      nossos planos. (15) 98802-8523
    </p>
  </div>

  <div class="card">
    <h1>
      Saiba mais sobre<br />
      nosso trabalho
    </h1>
    <p>
      No resumo geral nossa empresa tem como objetivo te deixar seguro contra
      furtos, acidentes, entre outros.
    </p>
  </div>

  <div class="card">
    <h1>
      Descubra novos<br />
      planos de seguro
    </h1>
    <p>
      Trabalhamos com planos de seguro dividos em tabelas,
      <a href="/seguro">clique aqui</a> para saber mais!
    </p>
  </div>
</article>
