<%- include('includes/head') %>
<body class="imagemFundo">
  <div class="actions">
    <div class="conteudo">
      <h2>Cadastro:</h2>

      <form action="/cadastro" method="POST">
        <div class="input">
          <label>Nome:</label>
          <input class="input-text" type="text" name="nome" />
        </div>

        <div class="input">
          <label>Sobrenome:</label>
          <input class="input-text" type="text" name="sobrenome" />
        </div>

        <div class="input">
          <label>Idade:</label>
          <input class="input-text" type="date" name="idade" />
        </div>

        <div class="input">
          <label>Email:</label>
          <input class="input-text" type="email" name="email" />
        </div>
        <div class="input">
          <label>Telefone:</label>
          <input class="input-text" type="tel" name="telefone" />
        </div>

        <div class="input">
          <label>Senha:</label>
          <input class="input-text" type="password" name="senha" />
        </div>

        <button type="submit" class="button">Enviar</button>
      </form>
    </div>

    <div class="conteudo login">
      <h2>Login:</h2>

      <form action="/login" method="post">
        <div class="input">
          <label>Email:</label>
          <input class="input-text" type="email" />
        </div>

        <div class="input">
          <label>Senha:</label>
          <input class="input-text" type="password" />
        </div>

        <div class="input">
          <input class="button" type="button" value="Enviar" />
        </div>
      </form>
    </div>
  </div>
</body>
