<%- include('includes/head') %>
<body class="imagemFundo">
  <div class="actions">
    <div class="conteudo">
      <h2>Cadastro:</h2>

      <form action="/cadastro" method="post">
        <div class="input">
          <label>Nome:</label>
          <input class="input-text" type="text" />
        </div>

        <div class="input">
          <label>Sobrenome:</label>
          <input class="input-text" type="text" />
        </div>

        <div class="input">
          <label>Idade:</label>
          <input class="input-text" type="date" />
        </div>

        <div class="input">
          <label>Email:</label>
          <input class="input-text" type="email" />
        </div>
        <div class="input">
          <label>Telefone:</label>
          <input class="input-text" type="tel" />
        </div>

        <div class="input">
          <label>Idade:</label>
          <input class="input-text" type="password" />
        </div>

        <div class="input">
          <input class="button" type="button" value="Enviar" />
        </div>
      </form>
    </div>

    <div class="conteudo login">
      <h2>Login:</h2>

      <form action="/cadastro" method="post">
        <div class="input">
          <label>Email:</label>
          <input class="input-text" type="email" />
        </div>

        <div class="input">
          <label>Senha:</label>
          <input class="input-text" type="password" />
        </div>

        <div class="input">
          <input class="button" type="button" value="Enviar" />
        </div>
      </form>
    </div>
  </div>
</body>
