<%- include('includes/head') %> <%- include('includes/nav') %>
<article>
  <div class="conteudo">
    <form>
      <div class="intro">
        <img class="fotoPerfil" src="/profile.png" />
        <input type="text" name="nome" />
      </div>

      <div class="infos">
        <label>Email:</label>
        <input type="text" name="email" />

        <label>Telefone:</label>
        <input type="text" name="telefone" />
      </div>

      <div class="botoes">
        <button class="btn apagar" type="submit">Apagar conta</button>
        <button class="btn editar" type="submit">Editar usuário</button>
      </div>

      <div class="seguro">
        <p>Seguro: <span>TESTE</span></p>
        <p>Valor do seguro: <span>TESTE</span></p>
      </div>
    </form>
  </div>
</article>
