<%- include('includes/head') %> <%- include('includes/nav') %>

<article class="conteudo">
  <div class="servicos">
    <div class="card flex">
      <img class="imgCard" src="/Image_1@1x.png" />
      <p class="tituloCard">Solicite um serviço</p>
      <a class="btnCard" href="/">Solicitar serviço</a>
    </div>

    <div class="card flex">
      <img class="imgCard" src="/atencao.png" />
      <p class="tituloCard">Relatar um problema</p>
      <a class="btnCard" href="/relatar-problema">Relatar problema</a>
    </div>

    <div class="card flex">
      <img class="imgCard" src="/sinistro.png" />
      <p class="tituloCard">Realizar aviso de sinistro</p>
      <a class="btnCard" href="/sinistro">Ir para o sinistro</a>
    </div>

    <div class="card flex">
      <img class="imgCard" src="/sinistro.png" />
      <p class="tituloCard">Chat On-Line</p>
      <a class="btnCard" href="/">Ir para chat on-line</a>
    </div>
  </div>
</article>
