<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="fundoImagem">
  <article class="conteudo">
    <div class="seletor">
      <h3 class="titulo">Solicite o tipo de Serviço:</h3>

      <div class="buttons">
        <a class="botao botaoET" href="/">Serviço Online</a>

        <a class="botao botaoEB" href="/">Chat On-Line</a>

        <a class="botao botaoDT" href="/sinistro">Sinistro</a>

        <a class="botao botaoDB" href="/relatar-problema">Relatar Problema</a>

        <a class="botao botaoF" href="/simular-seguro/carro">Simular Seguro</a>
      </div>
    </div>
  </article>
</div>
