<%- include('includes/head') %> <%- include('includes/nav') %>

    <article class="conteudo">
      <div class="seletor">
        <h3 class="tituloSim">Simular Seguro:</h3>
        <p class="descricao">
          Insira todas as informações corretamente para podermos simular seu
          seguro:
        </p>

        <h2 class="titulo">Segurado</h2>

        <div class="inputs">
          <div class="divInput">
            <p class="tituloInput">Nome do segurado:</p>
            <input
              class="input"
              type="text"
              name=""
            />
          </div>
  
          <div class="divInput">
            <p class="tituloInput">E-mail do segurado:</p>
            <input
              class="input"
              type="text"
              name=""
            />
          </div>
  
          <div class="divInput">
            <p class="tituloInput">Celular:</p>
            <input
              class="input"
              type="text"
              name=""
            />
          </div>
  
          <div class="divInput">
            <p class="tituloInput">Data de nascimento:</p>
            <input class="input" type="text" name="" />
          </div>
  
          <div class="divInput">
            <p class="tituloSelect">Estado civil:</p>
            <select class="input">
              <option>Solteiro(a)</option>
              <option>Casado(a)</option>
              <option>Viúvo(a)</option>
              <option>Separado(a) / Divorciado(a)</option>
            </select>
          </div>
  
          <div class="divInput">
            <p class="tituloSelect">Gênero:</p>
            <select class="input">
              <option>Masculino</option>
              <option>Feminino</option>
              <option>Outro</option>
            </select>
          </div>
        </div>

        <button><a href="/simular-seguro/utilizacao">Continuar</a></button>
      </div>
    </article>
  </body>
</html>
