<%- include('includes/head') %> <%- include('includes/nav') %>
<article class="conteudo">
  <div class="seletor">
    <div class="introducao">
      <h3 class="tituloSim">Simular Seguro:</h3>
      <p class="descricao">
        Insira todas as informações corretamente para podermos simular seu
        seguro:
      </p>
    </div>

    <h2 class="titulo">Carro</h2>

    <div class="inputs">
      <div class="divInput">
        <p class="tituloInput">Marca do carro:</p>
        <input class="input" type="text" name="" />
      </div>

      <div class="divInput">
        <p class="tituloInput">Modelo do carro:</p>
        <input class="input" type="text" name="" />
      </div>

      <div class="divInput">
        <p class="tituloInput">Ano do modelo:</p>
        <input class="input" type="text" name="" />
      </div>

      <div class="divInput">
        <p class="tituloInput">Ano de fabricação:</p>
        <input class="input" type="text" name="" />
      </div>

      <div class="divInput">
        <p class="tituloInput">Placa de carro:</p>
        <input class="input" type="text" name="" />
      </div>

      <div class="divInput">
        <p class="tituloSelect">Sobre seu carro:</p>
        <select class="input">
          <option>Tem alarme</option>
          <option>Contem kit gás</option>
          <option>Usado para transporte de passageiros</option>
          <option>É um taxi</option>
          <option>É de leilão ou tem chassi remacado</option>
          <option>É blindado</option>
          <option>É isento de imposto</option>
        </select>
      </div>
    </div>

    <button><a href="/simular-seguro/segurado">Continuar</a></button>
  </div>
</article>
