<%- include('includes/head') %> <%- include('includes/nav') %>
<article class="conteudo">
  <div class="seletor">
    <h3 class="tituloSim">Simular Seguro:</h3>
    <p class="descricao">
      Insira todas as informações corretamente para podermos simular seu seguro:
    </p>
    <h2 class="titulo">Carro</h2>

    <div style="float: left; clear: both; margin-left: 50px">
      <p class="tituloInput">Marca do carro:</p>
      <input
        class="input"
        type="text"
        name=""
        placeholder="Insira a marca do carro..."
      />
    </div>

    <div style="float: left; margin-left: 80px">
      <p class="tituloInput">Modelo do carro:</p>
      <input
        class="input"
        type="text"
        name=""
        placeholder="Insira o modelo do carro..."
      />
    </div>

    <div style="float: left; clear: left; margin-left: 50px">
      <p class="tituloInput">Ano do modelo:</p>
      <input class="input" type="text" name="" placeholder="Ex: 2015" />
    </div>

    <div style="float: left; margin-left: 80px">
      <p class="tituloInput">Ano de fabricação:</p>
      <input class="input" type="text" name="" placeholder="Ex: 2016" />
    </div>

    <div style="float: left; clear: left; margin-left: 50px">
      <p class="tituloInput">Placa de carro:</p>
      <input class="input" type="text" name="" placeholder="Ex: ABC-1234" />
    </div>

    <div class="class">
      <p class="tituloSelect">Sobre seu carro:</p>
      <select class="select">
        <option>Tem alarme</option>
        <option>Contem kit gás</option>
        <option>Usado para transporte de passageiros</option>
        <option>É um taxi</option>
        <option>É de leilão ou tem chassi remacado</option>
        <option>É blindado</option>
        <option>É isento de imposto</option>
      </select>
    </div>
    <button><a href="simularSeg2.html">Continuar</a></button>
  </div>
</article>
