<%- include('includes/head') %> <%- include('includes/nav') %>

<article class="conteudo">
    <div class="seletor">
        <h3 class="tituloSim">Simular Seguro:</h3>
        <p class="descricao">Insira todas as informações corretamente para podermos simular seu seguro:</p>

        <h2 class="titulo">Seguro</h2>

        <div class="inputs">
            <div class="divInput">
                <p class="tituloInput">Utilização do veículo:</p>
                <select class="input">
                    <option>Lazer</option>
                    <option>Ir e voltar do trabalho</option>
                    <option>Atividade comercial</option>
                    <option>Ir pra faculdade ou pós</option>
                </select>
            </div>
    
            <div class="divInput">
                <p class="tituloInput">Onde o carro fica estacionado:</p>
                <select class="input">
                    <option>Na rua</option>
                    <option>Estacionamento pago/fechado</option>
                    <option>Garagem com portão/porteiro</option>
                    <option>Garagem com portão automático</option>
                </select>
            </div>

            <div class="divInput">
                <p class="tituloInput">Quantos km o carro roda por dia?</p>
                <input class="input" type="text" name="" placeholder="Ex: 18-25km/dia">
            </div>
    
        </div>
        <button><a href="/home">Continuar</a></button>
        
    </div>
</article>

</body>

</html>