<%- include('includes/head') %> <%- include('includes/nav') %>

    <article class="conteudo">
      <div class="seletor">
        <h3 class="tituloSim">Simular Seguro:</h3>
        <p class="descricao">
          Insira todas as informações corretamente para podermos simular seu
          seguro:
        </p>

        <h2 class="titulo">Segurado</h2>

        <div style="float: left; clear: both; margin-left: 50px">
          <p class="tituloInput">Nome do segurado:</p>
          <input
            class="input"
            type="text"
            name=""
            placeholder="Insira o nome do segurado..."
          />
        </div>

        <div style="float: left; margin-left: 80px">
          <p class="tituloInput">E-mail do segurado:</p>
          <input
            class="input"
            type="text"
            name=""
            placeholder="Insira o e-mail do segurado..."
          />
        </div>

        <div style="float: left; clear: left; margin-left: 50px">
          <p class="tituloInput">Celular:</p>
          <input
            class="input"
            type="text"
            name=""
            placeholder="(+55) 25 9762-9998"
          />
        </div>

        <div style="float: left; clear: left; margin-left: 50px">
          <p class="tituloInput">Data de nascimento:</p>
          <input class="input" type="text" name="" placeholder="01/01/2000" />
        </div>

        <div class="class" style="margin-top: -100px">
          <p class="tituloSelect">Estado civil:</p>
          <select class="select">
            <option>Solteiro(a)</option>
            <option>Casado(a)</option>
            <option>Viúvo(a)</option>
            <option>Separado(a) / Divorciado(a)</option>
          </select>
        </div>

        <div class="class" style="margin-right: 185px">
          <p class="tituloSelect">Gênero:</p>
          <select class="select">
            <option>Masculino</option>
            <option>Feminino</option>
            <option>Outro</option>
          </select>
        </div>

        <button><a href="/simular-seguro/utilizacao">Continuar</a></button>
      </div>
    </article>
  </body>
</html>
