<%- include('includes/head') %> <%- include('includes/nav') %>
<article class="fundoImagem">
  <div class="conteudo">
    <h1 class="titulo">Sinistro-Chuva</h1>
    <img class="conteudoImg" src="/chuva.png" />

    <div class="descricao">
      <p>Estes são os documentos para iniciar o aviso de sinistro:</p>
      <ul class="lista">
        <li>
          Para abrir sinistro de vidro, retrovisores ou faróis, não é necessário
          nenhum documento.
        </li>
      </ul>
    </div>

    <button class="botao"><a href="/sinistro">Voltar</a></button>
  </div>
</article>
