<%- include('includes/head') %> <%- include('includes/nav') %>
<div class="fundoImagem">
  <article class="conteudo">
    <div class="seletor">
      <h3 class="titulo">Sinistro</h3>

      <div class="buttons">
        <button class="button botaoColisao">
          <a href="/sinistro/colisao">
            <img src="/batida.png" style="width: 80px; float: left" />
            <h1 class="titulo">Colisão</h1>
            <p class="descricao">
              Popularmente conhecida como "batida", é o choque entre um veículo
              e outro.
            </p>
          </a>
        </button>

        <button class="button botaoFurto">
          <a href="/sinistro/furto">
            <img src="/roubo.png" style="width: 63px; float: left" />
            <h1 class="titulo">Roubo</h1>
            <p class="descricao">
              Roubo/Furto é quando o carro é levado sem que o dono veja.
            </p>
          </a>
        </button>

        <button class="button botaoChuva">
          <a href="/sinistro/chuva">
            <img src="/chuva.png" style="width: 63px; float: left" />
            <h1 class="titulo">Chuva</h1>
            <p class="descricao">
              Chuva em excesso ou enchentes podem causar danos no veículo.
            </p>
          </a>
        </button>

        <button class="button botaoFogo">
          <a href="/sinistro/fogo">
            <img src="/fogo.png" style="width: 80px; float: left" />
            <h1 class="titulo">Incêndio</h1>
            <p class="descricao">
              Fogo em qualquer parte do veículo, tanto interna quanto externa.
            </p>
          </a>
        </button>

        <button class="button botaoVidro">
          <a href="/sinistro/vidro">
            <img src="/vidro.png" style="width: 80px; float: left" />
            <h1 class="titulo">Vidro/Farol/Retrovisor</h1>
            <p class="descricao">
              Troca ou reparo em caso de vidos trincados ou quebrados.
            </p>
          </a>
        </button>
      </div>
    </div>
  </article>
</div>
