<%- include('includes/head') %> <%- include("includes/nav") %>
<div class="fundoImagem">
  <article class="conteudo">
    <div class="seletor">
      <img src="/Image_2@1x.png" class="imgServico" />
      <h1 class="titulo">Solicitar Serviço</h1>

      <p class="descricao">
        Solicite o tipo de serviço que deseja que nossa equipe realize na caixa
        de seleção abaixo.
      </p>

      <select class="select">
        <option>Descontos e Benefícios</option>
        <option>Avaliação e Gestão de Riscos</option>
        <option>Programas de Educação e Treinamento para Motoristas</option>
        <option>Coberturas Personalizadas</option>
      </select>
      <a href="/servicos" class="botao">Solicitar Serviço</a>
    </div>
  </article>
</div>
