*{
	padding: 0px;
	margin: 0px;
}

@keyframes linkHover{
	from { color: black; background-color: white;}
	to { color: blue; background-color: gray;}
}

@keyframes botaoRelato{
	from {background-color: red;}
	to { background-color: rgba(102, 0, 0, 1.0);}
}

a{
	color: black;
	text-decoration: none;
}

/*------------ BODY ------------*/

.fundoImagem{
	position: relative;
	background-image: url("../images/fundo.png");
	background-size: cover;
}



article{
	display: flex;
}



/*------------ CONTEUDO ------------*/

.conteudo{
	background-color: rgba(102, 102, 102, 0.5);
	display: inline-block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	border-radius: 20px;
	clear: both;
}

.titulo{
	font-size: 3em;
	font-family: arial;
	margin-left: 20px;
	float: left;
}

.descricao{
	margin-top: 70px;
	width: 470px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 40px;
	color: white;
	padding: 15px;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}

.opcao{
	width: 240px;
	padding: 10px;
	font-family: arial;
	margin-top: 30px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
}

.tituloOpc{
	float: left;
	margin-left: 15px;
	margin-top: 20px;
	font-size: 1.8em;
	color: black;
}

.descricaoOpc{
	clear: left;
	font-size: 1.2em;
	padding-top: 10px;
}


.botao{
	display: flex;
	clear: left;
	margin-top: 20px;
	margin-left: 41.5%;
	background-color: red;
	color: white;
	padding: 10px;
	border-radius: 15px;
	float: left;
	font-size: 1.5em;
}

.botao:hover{
	animation-name: botaoRelato;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.botao a{
	text-decoration: none;
	color: white;
}

.opcao:hover{
	background-color: rgba(255, 255, 255, 0.8);
	cursor: pointer;
}